<!DOCTYPE html>
<html>
<head>
	<title>WDI Ping Pong Masters!</title>
    <link href='https://fonts.googleapis.com/css?family=Carrois+Gothic' rel='stylesheet' type='text/css'>
	   <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	   <!-- Compiled and minified CSS -->
  	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
     <link rel="stylesheet" href="/style.css">

  	 <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  	 <!-- Compiled and minified JavaScript -->
  	 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
  	 <script type="text/javascript" src="/script.js"></script>
     <script src="/socket.io/socket.io.js"></script>
</head>
<body>
  <main>
  <% if(typeof alerts !== 'undefined'){ %>
     <% for(key in alerts){ %>
         <% alerts[key].forEach(function(thisMsg){ %>
             <div class="alert alert-<%= key %>"><%= thisMsg %></div>
         <% }); %>
     <% } %>
  <% } %>
  <nav>
     	<div class="nav-wrapper green darken-1">
        <a href="/" class="brand-logo">WDI Ping Pong!</a>
        <ul class="right hide-on-med-and-down">
          <% if (currentUser) { %>
            <li id="logout"><a href="/auth/logout">Logout</a></li>
            <li><a href="/profile"><%= currentUser.name%></a></li>
          <% } else { %>
            <li><a href="/auth/login">Login</a></li>
            <li><a href="/auth/signup">Signup</a></li>
          <% } %>
        </ul>
      </div>
    </nav>
   <%- body %>
  </main>
 <footer class="page-footer green darken-1">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text"></h5>
        <p class="grey-text text-lighten-4"></p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text"></h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="/chatroom">Chatroom</a></li>
          <li><a class="grey-text text-lighten-3" href="/players">View Players</a></li>
          <li><a class="grey-text text-lighten-3" href="/profile">Go to your Profile</a></li>
          <li><a class="grey-text text-lighten-3" href="/">Go home</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    Keaton Laney© 2015 Copyright Text
    <a class="grey-text text-lighten-4 right" href="#!"></a>
    </div>
  </div>
</footer>
</body>
</html>